<div class="bg-gray-50">
    <div class="max-w-7xl mx-auto py-16 ">
        <div class="mb-12 text-center">
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight text-gray-800">
                Our <span class="text-blue-600">Partners</span> & Clients
            </h2>
            <p class="mt-4 text-gray-500 text-2xl  mx-auto">
                Trusted by industry leaders and innovative companies worldwide
            </p>
        </div>

        <div class="px-10">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/1.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/2.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/3.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/4.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/5.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/6.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/7.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/8.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/9.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/10.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/11.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/12.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/13.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/14.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="flex justify-center">
                        <img src="partenrs/15.png"
                            class="h-24 md:h-32 object-contain transition-transform duration-300 hover:scale-110">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>