<div
    class="relative rounded-2xl m-5 bg-gradient-to-br from-blue-900 to-sky-500 text-white my-20">
    <!-- Background dots -->
    <div
        class="absolute top-[5%] left-1/2 -translate-x-1/2 w-[95%] h-[90%] bg-[radial-gradient(circle,rgba(255,255,255,0.1)_2px,transparent_2px)] bg-[length:20px_20px] z-0">
    </div>

    <div class="container relative z-10 mx-auto px-8">
        <!-- Text -->
        <div class="text-center py-10">
            <h1 class="mb-8 text-6xl font-bold">Seater Services</h1>
            <p class="text-4xl">let's get you a ride</p>
        </div>

        <!-- Services -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 py-6">

            <!-- Card -->
            <div
                class="cursor-pointer transition-all duration-500 hover:shadow-xl rounded-xl p-4 bg-white/10 backdrop-blur-md">
                <div class="flex justify-center items-center h-40">
                    <img src="Icons/bus.jfif" class="w-full transition-transform duration-500 hover:scale-110" alt="">
                </div>
                <button routerLink="/schools" class="block mx-auto mt-4 bg-sky-400 text-white px-6 py-3 text-sm font-medium rounded-full transition duration-300 ease-in-out transform hover:bg-blue-700 hover:-translate-y-1 active:translate-y-0">School Bus</button>
            </div>

            <!-- Card -->
            <div
                class="cursor-pointer transition-all duration-500 hover:shadow-xl rounded-xl p-4 bg-white/10 backdrop-blur-md">
                <div class="flex justify-center items-center h-40">
                    <img src="Icons/Vector Smart Object.jfif"
                        class="max-w-[200px] transition-transform duration-500 hover:scale-110" alt="">
                </div>
                <button routerLink="/business" class="block mx-auto mt-4 bg-sky-400 text-white px-6 py-3 text-sm font-medium rounded-full transition duration-300 ease-in-out transform hover:bg-blue-700 hover:-translate-y-1 active:translate-y-0">Corporate Booking</button>
            </div>

            <!-- Card -->
            <div
                class="cursor-pointer transition-all duration-500 hover:shadow-xl rounded-xl p-4 bg-white/10 backdrop-blur-md">
                <div class="flex justify-center items-center h-40">
                    <img src="Icons/bus  2.jfif" class="w-full  transition-transform duration-500 hover:scale-110"
                        alt="">
                </div>
                <button routerLink="/special-request" class="block mx-auto mt-4 bg-sky-400 text-white px-6 py-3 text-sm font-medium rounded-full transition duration-300 ease-in-out transform hover:bg-blue-700 hover:-translate-y-1 active:translate-y-0">Private Request</button>
            </div>

            <!-- Card -->
            <div
                class="cursor-pointer transition-all duration-500 hover:shadow-xl rounded-xl p-4 bg-white/10 backdrop-blur-md">
                <div class="flex justify-center items-center h-40">
                    <img src="Icons/Icon location 3.jfif"
                        class="w-full transition-transform duration-500 hover:scale-110" alt="">
                </div>
                <button routerLink="/tracking" class="block mx-auto mt-4 bg-sky-400 text-white px-6 py-3 text-sm font-medium rounded-full transition duration-300 ease-in-out transform hover:bg-blue-700 hover:-translate-y-1 active:translate-y-0">Tracking Service</button>
            </div>

        </div>
    </div>
</div>