<div  class="mx-auto py-8 px-6 " style="background-image: url('about/Pattern-04.png'); background-size: cover; background-position: center;">
    <div class="grid md:grid-cols-2 items-center">

        <div>
            <img src="Screens/sssssss.jfif" class="md:w-2/4 mx-auto" alt="">
        </div>

        <!-- Content -->
        <div class="text-center md:text-left md:me-20">
            <h2 class="font-bold text-3xl text-blue-600 mb-4 mt-12 md:mt-0">About</h2>
            <p class="font-medium md:text-justify leading-relaxed text-lg">
                At Seater, we’re redefining transportation with passion, innovation, and a vision for a sustainable future. From schools
                and parents to corporate clients, we deliver safe, reliable, and comfortable rides, giving families peace of mind and
                businesses travel they can trust
            </p>

            <!-- Social Icons -->
            <div class="flex justify-center space-x-3 py-10 md:pe-10">
                <a href="https://www.facebook.com/SeaterApp/" target="_blank"><i class="fab fa-facebook text-3xl text-[#1877f2] transition duration-300 hover:text-blue-800 cursor-pointer"></i></a>
               <a href="https://www.instagram.com/seaterapp" target="_blank"><i
                class="fab fa-instagram text-3xl bg-gradient-to-tr from-yellow-400 via-pink-500 to-purple-600 bg-clip-text text-transparent transition duration-300 hover:scale-110 cursor-pointer"></i></a> 
               <a href="https://www.linkedin.com/company/seater" target="_blank"><i class="fab fa-linkedin text-3xl text-[#0A66C2] transition duration-300 hover:text-blue-900 cursor-pointer"></i></a> 
            </div>
        </div>
    </div>
</div>