<nav class="dark:bg-gray-900 fixed w-full z-20 top-0 start-0 dark:border-gray-600 transition-colors duration-500 ease-in-out"
   [ngStyle]="{
    'background': navbarBackground,
    'transition': 'background 0.4s ease'
  }">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://www.facebook.com/SeaterApp/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img [src]="logoSrc" class="h-11 transition-all duration-300" alt="Seater">
        </a>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <div class="md:flex items-center gap-x-3 md:gap-x-6 hidden ">
                <ul class="flex md:gap-x-3 pe-5">
                    <li>
                        <a href="https://www.facebook.com/SeaterApp/" target="_blank"><i
                                class="fab fa-facebook text-2xl hover:text-blue-700 transition duration-300 text-white"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/seaterapp" target="_blank"><i
                                class="fab fa-instagram text-2xl   hover:text-transparent hover:bg-gradient-to-tr hover:from-yellow-400 hover:via-pink-500 hover:to-purple-600 hover:bg-clip-text transition duration-300 text-white"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/seater" target="_blank"><i
                                class=" fab fa-linkedin text-2xl  hover:text-blue-700 transition duration-300 text-white"></i></a>
                    </li>
                </ul>

                <ul class="flex gap-x-2 md:gap-x-3">
                    @if (isLogedIn | async) {
                        <li class="border  rounded-3xl px-7 py-2 border-gray-100 text-white  hover:bg-gray-100 hover:text-black transition" >
                            <a routerLink="/auth" (click)="signOut()">sign Out</a>
                        </li>
                    } @else {
                        <li class="border border-gray-100 rounded-3xl px-5 py-2 text-white  hover:bg-gray-100 hover:text-black transition" >
                            <a routerLink="/auth">Register</a>
                        </li>
                        <li class="border border-gray-100 rounded-3xl px-7 py-2 text-white  hover:bg-gray-100 hover:text-black transition" >
                            <a routerLink="/auth/login">login</a>
                        </li>
                    }
                </ul>
            </div>


            <button data-collapse-toggle="navbar-sticky" type="button" (click)="toggleMenu()"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>

        </div>
       
    <div [ngClass]="{'hidden': !isMenuOpen}" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
        <ul [class.bg-[linear-gradient(45deg,#1488CC,#2B32B2)]]="isScrolled" [class.bg-[linear-gradient(45deg,#1488CC,#2B32B2)]]="!isScrolled"
            class="flex flex-col text-center p-4 md:px-10 md:py-2 mt-4 font-medium border border-gray-100 rounded-3xl md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li class="relative pr-6 md:after:content-[''] md:after:absolute md:after:right-3 
                 md:after:top-1/2 md:after:-translate-y-1/2 md:after:h-[18px] 
                 md:after:border-r md:after:border-gray-400">
                <a routerLink="/home" routerLinkActive="!text-blue-500" 
                    class="block py-2 px-3 text-white rounded-sm hover:text-black md:p-0">Home</a>
            </li>
    
            <li class="relative pr-6 md:after:content-[''] md:after:absolute md:after:right-3 
                 md:after:top-1/2 md:after:-translate-y-1/2 md:after:h-[18px] 
                 md:after:border-r md:after:border-gray-400">
                <a routerLink="/about-details" routerLinkActive="!text-blue-500" 
                    class="block py-2 px-3 text-white rounded-sm hover:text-black md:p-0">About</a>
            </li>
    
            <li class="relative pr-6 md:after:content-[''] md:after:absolute md:after:right-3 
                 md:after:top-1/2 md:after:-translate-y-1/2 md:after:h-[18px] 
                 md:after:border-r md:after:border-gray-400">
                <a routerLink="/services-info" routerLinkActive="!text-blue-500"
                    class="block py-2 px-3 text-white rounded-sm hover:text-black md:p-0">Services</a>
            </li>
    
            <li class="relative pr-6 md:pr-0">
                <a routerLink="/contact" routerLinkActive="!text-blue-500" 
                    class="block py-2 px-3 text-white rounded-sm hover:text-black md:p-0">Contact</a>
            </li>
            <li class="mt-3 md:hidden">
                @if (isLogedIn | async) {
                <a (click)="signOut()"
                    class="block text-center border border-gray-200 rounded-3xl py-2 text-white hover:bg-gray-100 hover:text-black transition">
                    Sign Out
                </a>
                } @else {
                <a routerLink="/auth"
                    class="block text-center border border-gray-200 rounded-3xl py-2 mb-2 text-white hover:bg-gray-100 hover:text-black transition">
                    Register
                </a>
                <a routerLink="/auth/login"
                    class="block text-center border border-gray-200 rounded-3xl py-2 text-white hover:bg-gray-100 hover:text-black transition">
                    Login
                </a>
                }
            </li>

        </ul>
    </div>
    </div>
</nav>