<div class="bg-gray-50 pt-10">
    <div class="container mx-auto px-6 py-12 grid grid-cols-1 md:grid-cols-2 gap-10 items-center">

        <!-- Content -->
        <div class="flex flex-col space-y-6 text-left">
            <h1 class="font-extrabold leading-tight text-gray-900 text-4xl md:text-5xl">
                Seater's Bussiness Solution
            </h1>
            <p class="text-gray-600 text-lg leading-relaxed">
            We supply fleets tailored to the specific needs of companies and schools. Institutions can manage their fleet
            operations via our integrated Smart System, gaining full control over logistics, tracking, and reporting.
            </p>
        </div>

        <!-- Images -->
        <div class="md:grid md:grid-cols-2 gap-6 relative">
            <div>
                <img src="Screens/business1.png" alt="" class="w-full rounded-3xl">
            </div>
            <div>
                <img src="Screens/business2.png" alt="" class="w-full rounded-3xl">
            </div>
            <div class="col-span-2 md:col-span-1 relative">
                <img src="Screens/business3.png" alt=""
                    class="w-full rounded-3xl md:absolute md:left-1/2 md:bottom-[-1rem]">
            </div>
        </div>
    </div>

    <!-- Button -->
    <div class="px-7 md:px-16 pb-10 pt-5">
        <button routerLink="/tracking"
            class="w-full bg-blue-600 text-white py-3 rounded-full transition hover:bg-blue-700 text-lg font-semibold">
            Book Now
        </button>
    </div>
</div>