<footer class=" bottom-0 left-0 w-full bg-gray-100 dark:bg-gray-900 shadow">
    
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between w-full ">
        
            <a href="https://www.facebook.com/SeaterApp/" class="flex items-center justify-center space-x-3 rtl:space-x-reverse mb-4 sm:mb-0">
                <img src="qt=q_95.jfif" class="md:mt-8" alt="">
            </a>
        
            <div class="text-center sm:text-left mb-4 sm:mb-0 ">
                <h4 class="font-semibold text-lg mb-4 text-gray-800 dark:text-gray-200 text-center">Get Seater App soon</h4>
        
                <div class="flex flex-wrap gap-4 justify-center sm:justify-start">
                    <a href="#"
                        class="w-48 h-16 flex items-center rounded-2xl bg-black text-white shadow-md transition duration-300 hover:shadow-xl hover:scale-105 hover:bg-gradient-to-tr hover:from-gray-900 hover:via-gray-700 hover:to-black px-3">
                        <i class="fa-brands fa-apple text-3xl mr-3"></i>
                        <div class="flex flex-col leading-tight">
                            <span class="text-xs">Download on the</span>
                            <span class="text-lg font-semibold">App Store</span>
                        </div>
                    </a>
        
                    <a href="#"
                        class="w-48 h-16 flex items-center rounded-2xl bg-black text-white shadow-md transition duration-300 hover:shadow-xl hover:scale-105 hover:bg-gradient-to-tr hover:from-green-400 hover:via-blue-500 hover:to-indigo-600 px-3">
                        <i class="fa-brands fa-google-play text-3xl mr-3"></i>
                        <div class="flex flex-col leading-tight">
                            <span class="text-xs">Get it on</span>
                            <span class="text-lg font-semibold">Google Play</span>
                        </div>
                    </a>
                </div>
            </div>
        
            <!-- Social Icons -->
            <div class="flex justify-center space-x-6 md:mt-8">
                <a href="https://www.facebook.com/SeaterApp/" target="_blank">
                    <i class="fab fa-facebook text-4xl text-black dark:text-white hover:text-blue-600 transition"></i>
                </a>
                <a href="https://www.instagram.com/seaterapp" target="_blank"
                    class="text-4xl text-black dark:text-white transition hover:text-transparent hover:bg-gradient-to-tr hover:from-yellow-400 hover:via-pink-500 hover:to-purple-600 hover:bg-clip-text">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/seater" target="_blank">
                    <i class="fab fa-linkedin text-4xl text-black dark:text-white hover:text-blue-500 transition"></i>
                </a>
            </div>
        </div>

        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

       
            <div class="w-full mx-auto max-w-screen-xl md:p-4 flex items-center md:justify-between justify-center gap-x-5">
                <span class="block sm:text-center dark:text-gray-400">
                    © 2022 <a href="https://www.facebook.com/SeaterApp/" class="hover:underline">Seater</a>. All Rights
                    Reserved.
                </span>
                <ul class="flex flex-wrap items-center  font-medium sm:mb-0 dark:text-gray-400  md:mt-0 ">
                    <li>
                        <a routerLink="/about" class="hover:text-blue-700 transition duration-300 me-4 md:me-6 hidden md:block">About</a>
                    </li>
                    <li>
                        <a routerLink="/policy" class="hover:text-blue-700 transition duration-300 me-4 md:me-6">Privacy
                            Policy</a>
                    </li>
                    <li>
                        <a routerLink="/licensing" class="hover:text-blue-700 transition duration-300 me-4 md:me-6">Licensing</a>
                    </li>
                    <li>
                        <a routerLink="/contact" class="hover:text-blue-700 transition duration-300 hidden md:block">Contact</a>
                    </li>
                </ul>
            </div>

    </div>
</footer>