<div class=" mx-auto py-20 px-6 bg-gray-200">
    <div class="grid md:grid-cols-2 items-center">

        <div class="">
            <img src="Screens/sssssss.jfif" class="w-2/4 mx-auto" alt="">
        </div>

        <div class="text-center md:text-left md:me-20">
            <h2 class="font-bold text-3xl text-blue-600 mb-4">About</h2>
            <p class="font-medium text-justify leading-relaxed">
                We bring a revolutionary approach to transportation, proudly serving both schools and corporate clients
                across Egypt. Our mission is simple, ensure every journey is safe, reliable, and comfortable. For
                parents, we provide peace of mind
                through background-verified drivers, caring supervisors, and real-time GPS tracking of every ride. For
                businesses, we deliver dependable, efficient travel solutions that keep employees comfortable and on
                schedule. Backed
                by nationwide coverage, flexible packages, and 24/7 customer support, we’re redefining what secure and
                trusted transportation means.
            </p>

            <div class="flex justify-center space-x-3 py-10 md:pe-10">
                <a href="https://www.facebook.com/SeaterApp/" target="_blank"><i
                        class="fab fa-facebook text-3xl text-[#1877f2] transition duration-300 hover:text-blue-800 cursor-pointer"></i></a>
                <a href="https://www.instagram.com/seaterapp" target="_blank"><i
                        class="fab fa-instagram text-3xl bg-gradient-to-tr from-yellow-400 via-pink-500 to-purple-600 bg-clip-text text-transparent transition duration-300 hover:scale-110 cursor-pointer"></i></a>
                <a href="https://www.linkedin.com/company/seater" target="_blank"><i
                        class="fab fa-linkedin text-3xl text-[#0A66C2] transition duration-300 hover:text-blue-900 cursor-pointer"></i></a>
            </div>
        </div>
    </div>
</div>



