<aside class="w-64 bg-white border-r border-gray-200 shadow-sm h-screen">
    <div class="p-4 flex items-center gap-2 text-xl font-semibold text-seaterBlue2">
        <span class="text-seaterBlue1">S</span>eater
    </div>
    <ul class="space-y-2 px-2">
        <li><a routerLink="/dashboard/dashboard" class="flex items-center p-2 rounded-lg hover:bg-blue-50"><i
                    class="fa-solid fa-gauge"></i><span class="ml-3">Dashboard</span></a></li>
        <li><a routerLink="/dashboard/trips" class="flex items-center p-2 rounded-lg hover:bg-blue-50"><i
                    class="fa-solid fa-route"></i><span class="ml-3">Trips</span></a></li>
        <li><a routerLink="/dashboard/vehicles" class="flex items-center p-2 rounded-lg hover:bg-blue-50"><i
                    class="fa-solid fa-bus"></i><span class="ml-3">Vehicles</span></a></li>
        <li><a routerLink="/dashboard/analytics" class="flex items-center p-2 rounded-lg hover:bg-blue-50"><i
                    class="fa-solid fa-chart-bar"></i><span class="ml-3">Analytics</span></a></li>
        <li><a routerLink="/dashboard/settings" class="flex items-center p-2 rounded-lg hover:bg-blue-50"><i
                    class="fa-solid fa-gear"></i><span class="ml-3">Settings</span></a></li>
    </ul>
</aside>